#content {
  text-align: center;
  margin: auto;
}
.creativecommons {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
#conferencetitle {
  text-align: center;
  font-size: 200%;
}
.socialbox {
  width: 100%;
  vertical-align: text-top;
}
.social {
  padding: 2px;
  display: inline;
  vertical-align: text-top;
}
.twitter-share-button {
  width: 80px !important;
}
